{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
 
    <h1>Olá Jovem</h1>
    {% include 'includes/menu.html' %}

    <!-- {% lorem 1 p %} -->

    <!-- {% if user.is_authenticated %}
        OLÁ USUARIO {{ my_name }}
    {% else %}
        SAI DAQUI
    {% endif %} -->

    {% block body %}
        {{ now }}
    {% endblock %}

    <footer>
        {% block footer %} 
        <br/>
        Este é meu footer 
        <br/>
        {% endblock %}
    </footer>


    {% for number in "123456" %}
        <div style=" color: {% if forloop.first or forloop.last %}brown{% else %}blue{% endif %}; border: 1px solid black";>
            {{ number }}
        </div>
    {% endfor %}
</body>
</html>