<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
</head>
<body>
 
    <h1>Olá Jovem</h1>
    <!-- {% lorem 1 p %} -->

    <!-- {% if user.is_authenticated %}
        OLÁ USUARIO {{ my_name }}
    {% else %}
        SAI DAQUI
    {% endif %} -->

    {% for number in "123456" %}
        <div style="color: {% if forloop.first or forloop.last %}brown{% else %}blue{% endif %}; border: 1px solid black";>
            {{ number }}
        </div>
    {% endfor %}
    
    <form method="phost">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Nome">
        <input type="submit" name="Enviar">
    </form>

    {% block body %}
        {{ now }}
    {% endblock %}

    <footer>
        {% block footer %} Este é meu footer {% endblock %}
    </footer>
</body>
</html>