{% extends "base.html" %}

{% block body %}
    <div> 
        {% if error %}
            <p class="error" style="color: rgb(175, 18, 18)">{{ error }}</p>
        {% endif %}
        <!-- {% if success_message %}
            <p class="error" style="color: rgb(175, 18, 18)">{{ error }}</p>
        {% endif %} -->
    <div/>
    <form style="margin-top: 20px" method="post">
        {% csrf_token %}
        <input name="content" placeholder="Oque você está pensando">
        <input type="submit" placeholder="Postar tuite">
    </form>

{% endblock %}